@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@model StudentManage.Models.UserModel
<!-- Page Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h3 class="page-title">Danh sách sổ đoàn</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Danh sách sổ đoàn</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="d-flex justify-content-md-end justify-content-sm-center p-t-10 p-b-10">
                    <a href="#" id="ImportExcel" class="btn content-btn excel-btn"><i class="fa fa-folder-open"></i>Import Excel</a>
                    <input type="file" id="fileName" style="display:none" />
                    <a href="/Union/ExportExcel" class="btn content-btn excel-btn"><i class="fa fa-download"></i>Export Excel</a>
                    <a href="#" class="btn content-btn" data-toggle="modal" data-target="#add_union-notebook"><i class="fa fa-plus"></i>Sổ đoàn</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus select-focus">
                <select class="select floating" id="semester">
                    <option value="0"> -- Tất cả -- </option>
                    <option value="17">2017 - 2021</option>
                    <option value="18">2018 - 2022</option>
                    <option value="19">2019 - 2023</option>
                    <option value="20">2020 - 2024</option>
                    <option value="21">2021 - 2025</option>
                </select>
                <label class="focus-label">Niên Khóa</label>
            </div>
        </div>
       @Html.Action("Faculty","Union")
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus select-focus">
                <select class="select floating" id="class">
                    <option value="0"> -- Tất cả -- </option>
                </select>
                <label class="focus-label">Lớp</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus select-focus">
                <select class="select floating" id="status">
                    <option value="0"> -- Tất cả -- </option>
                    <option value="1"> Đã nộp </option>
                    <option value="2"> Đã rút </option>
                </select>
                <label class="focus-label">Trạng thái</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" id="unionid">
                <label class="focus-label">Mã sổ đoàn</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <a href="#" class="btn btn-secondary btn-block" id="btn-search"> Tìm kiếm </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover custom-table mb-0 datatable" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">Mã sổ đoàn</th>
                            <th class="text-center">Họ và tên</th>
                            <th class="text-center">MSSV</th>
                            <th class="text-center">Lớp</th>
                            <th class="text-center">Khoa</th>
                            <th class="text-center">Ngày Nộp</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-right">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<iframe id="txtArea1" style="display:none"></iframe>
<!-- /Page Content -->
<!-- Add Union notebook Modal -->
<div id="add_union-notebook" class="modal custom-modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm sổ đoàn</h5>
                <button type="button" class="close" id="modal-add-union-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="union_add">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Họ và tên
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" name="fullname">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Mã Số Sinh Viên
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" name="studentCode">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Số Điện Thoại
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" name="phone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Email
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" name="email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Ngày sinh
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker"
                                           type="text" name="birthDayString">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Giới Tính
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="select" name="gender">
                                    <option value="1">Nam</option>
                                    <option value="0">Nữ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Lớp
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" name="className">
                            </div>
                        </div>
                        @Html.Action("ListFacuty", "Union")
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Lấy Sổ Trước Ngày
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker"
                                           type="text" name="returnDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Ngày Vào Đoàn
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker"
                                           type="text" name="joinDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Tỉnh/Thành Phố
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="select" id="city" name="cityID">
                                    <option value="0">Chọn Tỉnh/Thành Phố</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Quận/Huyện
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="select" id="district" name="districtID">
                                    <option value="0">Chọn Quận/Huyện</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Phường/Xã
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="select" id="ward" name="wardID">
                                    <option value="0">Chọn Phường/Xã</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Địa Chỉ Chi Tiết
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" name="address">
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Union notebook Modal -->
<!-- Edit Union notebook Modal -->
<div id="edit_union-notebook" class="modal custom-modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật sổ đoàn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mã sổ đoàn</label>
                                <input class="form-control" type="text" value="INV-0001" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <select class="select">
                                    <option>Đã nộp</option>
                                    <option>Đã rút</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Họ và tên</label>
                                <input class="form-control" type="text" value="Diệp Thế Duy">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Ngày sinh</label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker" type="text"
                                           value="16/12/2000">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Khoa</label>
                                <select class="select">
                                    <option>Công nghệ thông tin</option>
                                    <option>Quản trị kinh doanh</option>
                                    <option>Ngôn ngữ anh</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Lớp</label>
                                <select class="select">
                                    <option value="3"> 18DTHD1 </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Union notebook Modal -->
<!-- Delete Union notebook Modal -->
<a href="#" data-toggle="modal" data-target="#delete_union-notebook" id="btn-show-dialog" style="display:none;">
</a>
<div class="modal custom-modal fade" id="delete_union-notebook" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>In Biểu Mẫu</h3>
                    <p>Bạn Có Muốn In Biểu Mẫu Biên Nhận Hồ Sơ Đoàn Viên Không ?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="" target="_blank" class="btn continue-btn" id="print__">Có</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal"
                               class="btn cancel-btn">Không</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete Union notebook Modal -->
@section js{
    <!-- Datatable JS -->
    <script src="~/Assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://unpkg.com/read-excel-file@5.x/bundle/read-excel-file.min.js"></script>
    <script>
        const city = document.getElementById("city")
        const district = document.getElementById("district")
        const ward = document.getElementById("ward")
        var api = "https://provinces.open-api.vn/api/?depth=3";
        fetch(api, {
            method: "GET",
            ContentType: "application/json"
        })
            .then(response => response.json())
            .then(function (data) {
                let count = 0;
                data.forEach(item => {
                    city.options[city.options.length] = new Option(item.name, item.code)
                });
                city.onchange = function () {
                    district.length = 1
                    ward.length = 1
                    if (this.value != 0) {
                        var listDistrict = data.filter(m => m.code == this.value)
                        listDistrict[0].districts.forEach(item => {
                            district.options[district.options.length] = new Option(item.name, item.code)
                        })
                        district.onchange = function () {
                            ward.length = 1
                            if (this.value != 0) {
                                var listWard = listDistrict[0].districts.filter(m => m.code == this.value)
                                listWard[0].wards.forEach(item => {
                                    ward.options[ward.options.length] = new Option(item.name, item.code)
                                })
                            }
                        }
                    }
                }
            })
            .catch(err => console.log("Lỗi"))

    </script>
    <script src="~/Assets/js/ajax/Union.js"></script>

}
