@model List<StudentManage.Models.ClassModel>
<div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-12">
    <div class="form-group form-focus select-focus">
        <select id="classId" class="select floating">
            <option value="0"> -- Tất cả -- </option>
            @foreach (var item in Model)
            {
                <option value="@item.classID">@item.className</option>
            }
        </select>
        <label class="focus-label">Lớp</label>
    </div>
</div>
