@model List<StudentManage.Models.SemesterFormModel>
<div class="col-sm-6 col-md-3 col-lg-3 col-xl-4 col-12">
    <div class="form-group form-focus select-focus">
        <select class="select floating" id="select-semesterId">
            <option value="0"> -- Tất cả -- </option>
            @foreach (var item in Model)
            {
                <option value="@item.semesterId">@item.displayName</option>
            }
        </select>
        <label class="focus-label">Học kỳ</label>
    </div>
</div>

