<!-- Page footer -->
<div class="page-footer">
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="d-flex flex-sm-wrap justify-content-between p-10 text-secondary"
                 style="background-color:#f0f0f0;">
                <span>© Khoa Công Nghệ Thông Tin - HUTECH</span>
                <span>Made with <i class="las la-heart text-danger"></i> | Powered by team IT GenZ</span>
            </div>
        </div>

    </div>
</div>
<!-- /Page footer -->
